<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Azure Spring Apps Launcher</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.47"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"
          integrity="sha512-Mqfoc3Z3HrXDAkb9KWQklaedI9QNM01mqRaruK/LWtT3JU6BuxnbHg0MTqowzr2P8/Xdd0ITR0po3A4R5T0h2w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/vue3-toastify@0.1.4/dist/index.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
</head>
<style>
#app {
    background-color: #005fff;
    padding-bottom: 30px;
}
label {
    display: block;
    vertical-align: middle;
}

svg {
    display: inline-block
}

img {
    width: 10%;
    vertical-align: middle;
}
a{
    color: black;
}
.deployment {
    width: 75%;
    margin: 3% auto 10px;
    padding: 30px;
    background-color: white;
}
.form-control {
    font-size: 14px;
}
.filter-option-inner-inner {
    font-size: 14px;
}
.bs-placeholder {
    background-color: #fff;
    border: 1px solid #ced4da;
}
.col-sm-4 {
    font-size: 0.875rem;
    font-weight: 500;
}
.readonly {
    border: none;
}
.row {
    padding-bottom: 1%;
    padding-left: 3%;
}
.required {
    color: red;
    display: inline-block;
    margin-right: 10px;
    margin-left: 5px;
}
.title {
    padding: 0.5%;
    background-color: white;
}
.launcher {
    font-weight: 750;
    display: inline-block;
    margin-left: 20px;
    margin-top: 1.5%;
}
.back {
    font-weight: 650;
    float: right;
    padding-right: 10px;
    margin-top: 1.5%;
}
</style>
<body>
<div id="app">
    <div class="title">
        <img src="img/nubesgen-logo.svg" alt="NubesGen logo">
        <label class="launcher">Azure Spring Apps Web Launcher</label>
        <label class="back">Back to <a href="/">NubesGen.com</a></label>
    </div>
    <div class="deployment">

        <form id="setting">
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">GitHub repository address</label>
                <div class="col-sm-7">
                    <label>
                        <input type="text" class="form-control readonly" v-model="url" readonly/>
                    </label>
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Subscription<span
                        class="required"> * </span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14"
                         height="14"
                         fill="currentColor"
                         class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <title>An Azure subscription grants you access to Azure services. Your
                            subscription is also how resource usage is reported and services are
                            billed.</title>
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>
                </label>
                <div class="col-sm-7">
                    <label for="subscription">
                        <select title="Please select subscription" class="form-control selectpicker"
                                data-live-search="true" v-model="subscriptionId" id="subscription"
                                name="subscription"
                                @change="getResourceGroupListBySubscriptionId(subscriptionId)">
                            <option v-for="item in subscriptionList" :value="item.id">
                                {{item.name}}
                            </option>
                        </select>

                    </label>
                    <span id="subscription_error" style="color: red"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">
                    Resource group<span class="required"> * </span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14"
                         height="14"
                         fill="currentColor"
                         class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <title>A resource group is a collection of resources that share the same
                            lifecycle, permission, and policies.</title>
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>
                </label>
                <div class="col-sm-7">
                    <label for="resourceGroup">
                        <select title="Please select resource group"
                                class="form-control selectpicker" data-live-search="true"
                                data-placeholder="Please select Resource group"
                                v-model="resourceGroupName" id="resourceGroup" name="resourceGroup"
                                @change="getServiceInstanceByResourceGroupName(resourceGroupName)">
                            <option v-for="item in resourceGroupList" :key="item.name"
                                    :value="item.name">
                                {{ item.name }}
                            </option>
                        </select>
                    </label>
                    <span id="resourceGroup_error" style="color: red"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="serviceInstance" class="col-sm-4 col-form-label">Service Instance<span
                        class="required"> * </span></label>
                <div class="col-sm-7">
                    <select title="Please select service instance" class="form-control selectpicker"
                            data-live-search="true"
                            data-placeholder="Please select Service Instance"
                            v-model="serviceInstanceName" id="serviceInstance"
                            name="serviceInstance"
                            @change="changeAppInstance(serviceInstanceName)">
                        <option v-for="item in serviceInstanceList" :key="item.name"
                                :value="item.name">
                            {{ item.name }}
                        </option>
                    </select>
                    <span id="serviceInstance_error" style="color: red"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">App name:<span class="required"> * </span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14"
                         height="14"
                         fill="currentColor"
                         class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <title>The application name will be read from the name field in the
                            project's
                            pom.xml file, which you can also edit.</title>
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>
                </label>
                <div class="col-sm-7">
                    <label for="appName">
                        <input type="text" class="form-control"
                               v-model="appInstance.name" id="appName" name="appName"/>
                    </label>
                    <span id="appName_error" style="color: red"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Deployment settings</label>
                <div class="col-sm-7">
                    <label style="font-size: 14px;">Runtime platform:<span
                            class="required"> * </span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14"
                             height="14"
                             fill="currentColor"
                             class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                            <title>The java version of the running platform will be read from the
                                java.version field in the project's
                                pom.xml file.</title>
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                        </svg>
                    </label>
                    <label for="appInstance">
                        <input type="text" class="form-control readonly" id="appInstance"
                               v-model="appInstance.runtimePlatform" readonly/>
                    </label>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Scale up</label>
                <div class="col-sm-7">
                    <label style="font-size: 14px;">vCPU<span class="required"> * </span></label>
                    <label>
                        <select class="form-control" v-model="appInstance.cpu">
                            <option v-for="item in vCPUList" :key="item" :value="item">{{ item }}
                            </option>
                        </select>
                    </label>

                    <label style="font-size: 14px;">Memory(Gi)<span
                            class="required"> * </span></label>
                    <label>
                        <select class="form-control" v-model="appInstance.memory">
                            <option v-for="item in memoryList" :key="item" :value="item">{{ item }}
                            </option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Instance count:<span
                        class="required"> * </span></label>
                <div class="col-sm-7">
                    <label>
                        <input type="number" class="form-control"
                               v-model="appInstance.instanceCount" id="instanceCount"
                               name="instanceCount"/>
                    </label>
                    <span id="instanceCount_error" style="color: red"></span>
                </div>
            </div>
        </form>

        <hr/>
        <div class="form-group">
            <button class="btn btn-primary btn-sm btn-block" @click="deployCode()">Deploy</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"
        integrity="sha512-Vp2UimVVK8kNOjXqqj/B0Fyo96SDPj9OCSm1vmYSrLYF3mwIOBXh/yRZDVKo8NemQn1GUjjK0vFJuCSCkYai/A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
</body>

<script type="module">
    import {toast} from 'https://cdn.jsdelivr.net/npm/vue3-toastify@0.1.4/+esm';
    const app = Vue.createApp({
        data() {
            return {
                url: new URLSearchParams(location.search).get('url'),
                branch: new URLSearchParams(location.search).get('branch'),
                module: new URLSearchParams(location.search).get('module'),
                resourceGroupName: '',
                subscriptionId: '',
                region: '',
                serviceInstanceName: '',
                javaVersion: '',
                subscriptionList: [],
                serviceInstanceList: [],
                vCPUList: [0.5, 1, 2, 3, 4],
                memoryList: ['512 Mi', '1 Gi', '2 Gi', '3 Gi', '4 Gi', '5 Gi', '6 Gi', '7 Gi', '8 Gi'],
                resourceGroupList: [],
                appInstance: {},
            }
        },
        methods: {
            getAppNameAndJavaVersion() {
                axios.get('/getAppNameAndJavaVersion' + '?url=' + this.url + '&branchName=' + this.branch + '&module=' + this.module)
                    .then(res => {
                        this.appInstance.name = res.data.name;
                        this.appInstance.runtimePlatform = res.data.version;
                    }).catch(err => {
                    toast.error(err.response.data, {
                        position: toast.POSITION.TOP_CENTER,
                        autoClose: 5000,
                        hideProgressBar: true
                    });
                })
            },
            querySubscriptionList() {
                axios.get('/getSubscriptionList')
                    .then(res => {
                        this.subscriptionList = res.data;
                        if (this.subscriptionList.length === 0) {
                            toast.info('Not found Subscription', {
                                position: toast.POSITION.TOP_CENTER,
                                autoClose: 2000,
                                hideProgressBar: true
                            });
                        }
                    }).finally(() => {
                    $('.selectpicker').selectpicker('refresh');
                }).catch(err => {
                    toast.error(err.response.data, {
                        position: toast.POSITION.TOP_CENTER,
                        autoClose: 5000,
                        hideProgressBar: true
                    });
                })
            },
            getResourceGroupListBySubscriptionId(subscriptionId) {
                this.resourceGroupList = [];
                axios.get('/getResourceGroupList/' + subscriptionId)
                    .then(res => {
                        this.resourceGroupList = res.data;
                        if (this.resourceGroupList.length === 0) {
                            toast.info('Not found Resource group', {
                                position: toast.POSITION.TOP_CENTER,
                                autoClose: 2000,
                                hideProgressBar: true
                            });
                        }
                    }).finally(() => {
                    $('.selectpicker').selectpicker('refresh');
                }).catch(err => {
                    toast.error(err.response.data, {
                        position: toast.POSITION.TOP_CENTER,
                        autoClose: 5000,
                        hideProgressBar: true
                    });
                })
            },
            getServiceInstanceByResourceGroupName(resourceGroupName) {
                this.serviceInstanceList = [];
                axios.get('/getServiceInstanceList/' + this.subscriptionId + '/' + resourceGroupName)
                    .then(res => {
                        this.serviceInstanceList = res.data;
                        if (this.serviceInstanceList.length === 0) {
                            toast.info('Not found Service Instance', {
                                position: toast.POSITION.TOP_CENTER,
                                autoClose: 2000,
                                hideProgressBar: true
                            });
                        }
                    }).finally(() => {
                    $('.selectpicker').selectpicker('refresh');
                }).catch(err => {
                    toast.error(err.response.data, {
                        position: toast.POSITION.TOP_CENTER,
                        autoClose: 5000,
                        hideProgressBar: true
                    });
                })
            },
            changeAppInstance(serviceInstanceName) {
                // Get ASA region
                for (const instance of this.serviceInstanceList) {
                    if (instance.name === serviceInstanceName) {
                        this.region = instance.region;
                    }
                }
            },
            deployCode() {
                const bootstrapValidator = $('#setting').data('bootstrapValidator').validate();
                if (bootstrapValidator.isValid() === false) {
                    return;
                }
                if (this.appInstance.runtimePlatform === 'Java_17') {
                    this.javaVersion = 17;
                } else if (this.appInstance.runtimePlatform === 'Java_11') {
                    this.javaVersion = 11;
                } else {
                    this.javaVersion = 8;
                }
                if (this.appInstance.memory === '512 Mi') {
                    this.appInstance.memory = 0.5;
                } else {
                    this.appInstance.memory = this.appInstance.memory.charAt(0);
                }
                const appDetails = '&cpu=' + this.appInstance.cpu + '&memory=' + this.appInstance.memory + '&instanceCount=' + this.appInstance.instanceCount;
                const url = 'url=' + this.url + '&subscriptionId=' + this.subscriptionId + '&resourceGroupName=' + this.resourceGroupName + '&serviceName=' + this.serviceInstanceName + '&javaVersion=' + this.javaVersion + '&appName=' + this.appInstance.name + '&region=' + this.region + '&branchName=' + this.branch + '&module=' + this.module;
                location.assign('/progress.html?' + url + appDetails);
            },
            validatorForm() {
                $(document).ready(function () {
                    $("#setting").bootstrapValidator({
                        excluded: [':disabled', ':hidden'],
                        feedbackIcons: {
                            valid: 'glyphicon glyphicon-ok',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh'
                        },
                        fields: {
                            subscription: {
                                container: '#subscription_error',
                                validators: {
                                    notEmpty: {
                                        message: 'Please select subscription'
                                    }
                                }
                            },
                            resourceGroup: {
                                container: '#resourceGroup_error',
                                validators: {
                                    notEmpty: {
                                        message: 'Please select Resource group'
                                    }
                                }
                            },
                            serviceInstance: {
                                container: '#serviceInstance_error',
                                validators: {
                                    notEmpty: {
                                        message: 'Please select Service Instance'
                                    }
                                }
                            },
                            appName: {
                                container: '#appName_error',
                                validators: {
                                    notEmpty: {
                                        message: 'Please type app name'
                                    },
                                    regexp: {
                                        regexp: /^[a-z][a-z0-9-]{3,31}$/,
                                        message: 'The App name is invalid. It can contain only lowercase letters, numbers and hyphens. The first character must be a letter. The last character must be a letter or number. The value must be between 4 and 32 characters long.'
                                    }
                                }
                            },
                            instanceCount: {
                                container: '#instanceCount_error',
                                validators: {
                                    notEmpty: {
                                        message: 'Please type instance count'
                                    },
                                    regexp: {
                                        regexp: /^(?:[1-9]\d?|[1234]\d{2}|500)$/,
                                        message: 'The instance count is invalid. It can contain only numbers. The first character must be a number. The value must be between 1 and 500.'
                                    }
                                }
                            },
                        }
                    });
                });
            },
            stringify: JSON.stringify,
        },
        mounted() {
            this.querySubscriptionList();
            this.getAppNameAndJavaVersion();
            this.validatorForm();
            this.appInstance.cpu = 1;
            this.appInstance.memory = '2 Gi';
            this.appInstance.instanceCount = 1;
            this.appInstance.deploymentType = 'GitHub repository';
            $('.selectpicker').selectpicker();
        },
    })
    app.mount('#app')
</script>
</html>