<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Azure Spring Apps Launcher</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.47"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"
          integrity="sha512-Mqfoc3Z3HrXDAkb9KWQklaedI9QNM01mqRaruK/LWtT3JU6BuxnbHg0MTqowzr2P8/Xdd0ITR0po3A4R5T0h2w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/vue3-toastify@0.1.4/dist/index.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
</head>
<style>
#app {
    background-image: linear-gradient(rgb(0, 121, 212), rgb(60, 42, 168));
    padding-bottom: 30px;
    height: 100%;
    overflow-y: auto;
}

label {
    display: block;
    vertical-align: middle;
}

svg {
    display: inline-block
}

img {
    width: 10%;
    vertical-align: middle;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.popover {
    max-width: 550px;
}

.form-control {
    font-size: 14px;
}

.form-control[readonly] {
    background-color: #F0F0F0;
    border: 1px solid #D1D1D1;
    box-shadow: none;
}

.filter-option-inner-inner {
    font-size: 14px;
}

.bs-placeholder {
    background-color: #fff;
    border: 1px solid #ced4da;
}

.col-sm-4 {
    font-size: 0.875rem;
    font-weight: 500;
}

.row {
    padding-bottom: 1%;
    padding-left: 3%;
}

.dropdown-menu {
    font-size: 14px;
}

.btn-link {
    font-size: 14px;
    padding-left: 0;
    padding-top: 0;
}

.form-control-sm {
    height: calc(1em + 0.5rem + 1px);
    padding: 0.25rem 0.5rem 0.5rem;
}

.btn-primary {
    background-color: #1665DB;
    margin-right: 2%;
}

.btn-primary:hover {
    background-color: #0C4CAB;
}

.btn-light {
    background: #FFFFFF;
    color: black;
    border: 1px solid #D1D1D1;
}
.btn-light:hover {
    background: #F5F5F5;
    color: black;
    border: 1px solid #C7C7C7;
}

.btn-secondary{
    margin-right: 2%;
    background-color: #0079D4;
    border-color: #007bff;
}
.btn-secondary:hover {
    background-color: #0C4CAB;
}

.btn-secondary.disabled, .btn-secondary:disabled {
    background-color: #F0F0F0;
    border-color: #ced4da;
    color: black;
}

.bootstrap-select.disabled, .bootstrap-select>.disabled {
    background-color: #F0F0F0;
    border-color: #ced4da;
}

.select-container .btn-light:not(:disabled):not(.disabled).active,
.select-container .btn-light:not(:disabled):not(.disabled):active,
.select-container .show > .btn-light.dropdown-toggle {
    background-color: transparent;
}

.select-container .bootstrap-select .dropdown-toggle:focus,
.select-container .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
    outline: none !important;
    background-color: transparent;
}

.select-container .btn-light:hover {
    color: #212529;
    background-color: transparent;
}

.select-container .btn-light {
    border-color: #dae0e5;
}

.required {
    color: red;
    display: inline-block;
    margin-right: 10px;
    margin-left: 5px;
}

.title {
    padding: 0.5%;
    background-color: white;
}

.launcher {
    font-weight: 750;
    display: inline-block;
    margin-left: 20px;
    margin-top: 1.5%;
}

.back {
    font-weight: 650;
    float: right;
    padding-right: 10px;
    margin-top: 1.5%;
}

.deployment {
    width: 75%;
    margin: 4% auto;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
}

.bi-check2 {
    color: green;
    font-size: 1.5rem;
}

.bi-check2::before {
    vertical-align: -0.35em;
    font-weight: bold;
}

</style>
<body style="height: 100vh;">
<div id="app">
    <div class="title">
        <img src="img/nubesgen-logo.svg" alt="NubesGen logo">
        <label class="launcher">Azure Spring Apps Web Launcher</label>
        <label class="back"><a href="/">Back to NubesGen.com
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" x="0px" y="0px"
                 viewBox="0 0 100 100" width="15" height="15" class="icon outbound">
                <path fill="currentColor"
                      d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path>
                <polygon fill="currentColor"
                         points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon>
            </svg>
        </a>
        </label>
    </div>
    <div class="deployment">
        <form id="setting" class="select-container">

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Subscription<span
                        class="required"> * </span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14"
                         height="14"
                         fill="currentColor"
                         class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <title>An Azure subscription grants you access to Azure services. Your
                            subscription is also how resource usage is reported and services are
                            billed.</title>
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>
                </label>
                <div class="col-sm-7">
                    <label for="subscription">
                        <select title="Please select subscription" class="form-control selectpicker"
                                data-live-search="true" v-model="subscriptionId" id="subscription"
                                name="subscription"
                                @change="getResourceGroupListBySubscriptionId(subscriptionId)">
                            <option v-for="item in subscriptionList" :value="item.id">
                                {{item.name}}
                            </option>
                        </select>

                    </label>
                    <span id="subscription_error" style="color: red"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">
                    Resource group<span class="required"> * </span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14"
                         height="14"
                         fill="currentColor"
                         class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <title>A resource group is a collection of resources that share the same
                            lifecycle, permission, and policies.</title>
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>
                </label>
                <div class="col-sm-7">
                    <label for="resourceGroup">
                        <select title="Please select resource group"
                                class="form-control selectpicker" data-live-search="true"
                                v-model="resourceGroupName" id="resourceGroup" name="resourceGroup"
                                @change="getServiceInstanceByResourceGroupName(resourceGroupName)">
                            <option v-for="item in resourceGroupList" :key="item.name" :value="item.name">
                                {{ item.name }}
                            </option>
                        </select>
                        <span style="display: flex;"><button type="button" class="btn btn-link popoverTab"
                                                             data-toggle="popover"
                                                             @click="openPopover()">Create new</button></span>
                        <span id="resourceGroup_error" style="color: red;display: flex;"></span>
                    </label>
                </div>
            </div>

            <div class="mb-3 row" style="font-weight: normal; font-size: 14px;">
                <label class="col-sm-4 col-form-label">Service instance type<span
                        class="required"> * </span>
                </label>
                <div class="col-sm-7">
                    <div class="form-check" style="padding-bottom: 1%;">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                               @change="selectServiceInstance()" checked/>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Use existing one
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                               @change="newServiceInstance()"/>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Create a new one
                        </label>
                    </div>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="serviceInstance" class="col-sm-4 col-form-label">Service instance<span
                        class="required"> * </span>
                </label>
                <div class="col-sm-7">
                    <label for="newServiceInstanceName" v-show="flag === 'create'">
                        <input type="text" class="form-control" placeholder="Please type service instance name"
                               v-model="newServiceInstanceName" id="newServiceInstanceName" name="newServiceInstanceName"/>
                        <span id="newServiceInstanceName_error" style="color: red"></span>
                    </label>
                    <label for="serviceInstance" v-show="flag === 'select'">
                        <select title="Please select service instance" class="form-control selectpicker"
                                data-live-search="true"
                                data-placeholder="Please select Service Instance"
                                v-model="serviceInstanceName" id="serviceInstance"
                                name="serviceInstance" @change="updateRegionAndTier(serviceInstanceName)">
                            <option v-for="item in serviceInstanceList" :key="item.name"
                                    :value="item.name">
                                {{ item.name }}
                            </option>
                        </select>
                        <span id="serviceInstance_error" style="color: red"></span>
                    </label>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Region<span
                        class="required"> * </span>
                </label>
                <div class="col-sm-7">
                    <label for="region" id="regionSelect">
                        <select title="Please select region" class="form-control selectpicker"
                                data-live-search="true" v-model="region" id="region"
                                name="region" :disabled="flag === 'select'" @change="setNewInstanceRegion(region)">
                            <option v-for="item in regionList" :value="item.name">
                                {{item.label}}
                            </option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="mb-3 row" style="font-size: 14px;">
                <label class="col-sm-4 col-form-label">Hosting options and plans<span
                        class="required"> * </span>
                </label>
                <div class="col-sm-7">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="plan" id="Standard"
                               @change="getPlanValue('Standard')" :disabled="flag === 'select'">
                        <label class="form-check-label" for="Standard">
                            <a style="font-weight: 500;">Standard - General purpose production workloads</a>
                            <ul style="padding-inline-start:10px;">
                                <li>Spring centric and opinionated application hosting platform with built-in and
                                    pre-configured settings for build, service registry, storage, etc.
                                </li>
                            </ul>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="plan" id="Enterprise"
                               @change="getPlanValue('Enterprise')" :disabled="flag === 'select'">
                        <label class="form-check-label" for="Enterprise">
                            <a style="font-weight: 500;">Enterprise - Mission-critical workloads with VMware Tanzu
                                components</a>
                            <ul style="padding-inline-start:10px;">
                                <li>Gain access to VMware Tanzu components and address enterprise requirements around
                                    configuration management, integration, portability, flexibility, all backed by
                                    commercial support from VMware and Microsoft.
                                </li>
                            </ul>
                        </label>
                    </div>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">GitHub repository address<span
                        class="required"> * </span></label>
                <div class="col-sm-7">
                    <label>
                        <input type="text" class="form-control readonly" v-model="url" readonly/>
                    </label>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="appName" class="col-sm-4 col-form-label">App name<span class="required"> * </span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14"
                         height="14"
                         fill="currentColor"
                         class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <title>The application name will be read from the name field in the project's
                            pom.xml file, which you can also edit.</title>
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>
                </label>
                <div class="col-sm-7">
                    <label for="appName">
                        <input type="text" class="form-control" :disabled="init"
                               v-model="appInstance.name" id="appName" name="appName"/>
                    </label>
                    <span id="appName_error" style="color: red"></span>
                </div>
            </div>

            <div class="mb-3 row" style="font-weight: normal; font-size: 14px;">
                <label class="col-sm-4 col-form-label">Setup GitHub action</label>
                <div class="col-sm-7">
                    <div class="form-check form-switch" style="display: inline-block;margin-right: 3%;">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" @change="setupPipeline()">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Setup CI/CD pipeline</label>
                    </div>
                    <button id="connectGitHub" type="button" class="btn btn-primary btn-sm" style="line-height: 1;" @click="authGithub()" disabled>Connect GitHub</button>
                    <span v-show="githubAuth"><i class="bi bi-check2"></i><a style="font-size: 14px; padding-left: 1%;"> {{ username }} authenticated</a></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Environment variables</label>
                <div class="col-sm-7">
                    <button type="button" class="btn btn-link" @click.prevent="addItem">
                        <i class="bi bi-plus-lg" style="margin-right: 5px;"></i>Add
                    </button>
                    <div class="form-row" v-for="(variable, index) in variables" :key="index"
                         style="font-size: 14px; padding-bottom: 1%;">
                        <div class="col-first d-flex align-items-center">
                            key:
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control form-control-sm" title="Key" v-model="variable.key"/>
                        </div>
                        <div class="col-first d-flex align-items-center">
                            value:
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control form-control-sm" title="Value"
                                   v-model="variable.value"/>
                        </div>
                        <div class="col-first d-flex align-items-center">
                            <i class="bi bi-trash3" @click.prevent="deleteItem(index)"></i>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <hr/>
        <div class="form-group" style="padding-top: 2%;">
            <button class="btn btn-primary btn-sm btn-block" :disabled="init" @click="deployCode()"
                    style="background-color: rgb(0,121, 212)">Deploy</button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"
        integrity="sha512-Vp2UimVVK8kNOjXqqj/B0Fyo96SDPj9OCSm1vmYSrLYF3mwIOBXh/yRZDVKo8NemQn1GUjjK0vFJuCSCkYai/A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
</body>
<script type="module">
    import {toast} from 'https://cdn.jsdelivr.net/npm/vue3-toastify@0.1.4/+esm';
    const app = Vue.createApp({
        data() {
            return {
                url: new URLSearchParams(location.search).get('url'),
                branch: new URLSearchParams(location.search).get('branch'),
                module: new URLSearchParams(location.search).get('module'),
                username: '',
                init: true,
                githubAuth: false,
                flag: 'select',
                newServiceInstanceName: '',
                plan: '',
                tier: '',
                resourceGroupName: '',
                newResourceGroupName: '',
                subscriptionId: '',
                serviceInstanceName: '',
                javaVersion: '',
                region: '',
                existRegion: '',
                newInstanceRegion: '',
                existResourceGroup: '',
                githubCode: '',
                regionList: [],
                appInstance: {},
                subscriptionList: [],
                serviceInstanceList: [],
                resourceGroupList: [],
                variables: [],
                vCPUList: [0.5, 1, 2, 3, 4],
                memoryList: ['512 Mi', '1 Gi', '2 Gi', '3 Gi', '4 Gi', '5 Gi', '6 Gi', '7 Gi', '8 Gi'],
            }
        },
        methods: {
            authGithub() {
                const currentTimestamp = this.username + '_' + Date.parse(new Date());
                window.addEventListener('storage', () => {
                    const code = localStorage.getItem(currentTimestamp + "_githubCode");
                    if (code) {
                        this.githubCode = code;
                        window.removeEventListener('storage', () => {
                        });
                        localStorage.removeItem(currentTimestamp + "_githubCode");
                        this.githubAuth = true;
                    }
                });
                const htmlContent = '<!DOCTYPE html><html lang="en"><head><title>Authorize application</title></head ><body onload = "auth()"></body>' + "<script>" + "function auth() {location.assign(" + "'https://github.com/login/oauth/authorize?prompt=consent&client_id=7a1c7d3c445546021d63&scope=repo%20workflow&redirect_uri=https://yonghui-apps-dev-nubesgen.azuremicroservices.io/asa-github-code.html?timestamp=" + currentTimestamp + "'" + ")}" + "<" + "/script></html>"

                 const winUrl = URL.createObjectURL(
                    new Blob([htmlContent], {type: "text/html"})
                );
                var newWin = window.open(winUrl, 'Authorize application', 'height=700,width=700');
                setTimeout(() => {
                    newWin.close();
                    window.removeEventListener('storage', () => {
                    });
                }, 20000);
            },
            setupPipeline() {
                const item = document.getElementById("flexSwitchCheckDefault");
                let pipeline = document.getElementById("connectGitHub");
                pipeline.disabled = item.checked !== true;
            },
            addItem() {
                this.variables.push({key: '', value: ''});
            },
            deleteItem(index) {
                this.variables.splice(index, 1);
            },
            selectServiceInstance() {
                this.flag = 'select';
                document.getElementById('regionSelect').children[0].children[1].classList.add('disabled');
                const selectRadio = document.getElementById('flexRadioDefault1');
                if (selectRadio.checked !== true) {
                    selectRadio.checked = true;
                }
                const standardChecked = document.getElementById(this.tier);
                if (standardChecked) {
                    standardChecked.checked = true;
                } else {
                    document.getElementById('Standard').checked = false;
                    document.getElementById('Enterprise').checked = false;
                }
                this.region = this.existRegion;
                this.resourceGroupName = this.existResourceGroup;
                $('#setting').bootstrapValidator('resetForm', true);
            },
            newServiceInstance() {
                this.flag = 'create';
                const createRadio = document.getElementById('flexRadioDefault2');
                if (createRadio.checked !== true) {
                    createRadio.checked = true;
                }
                if(this.newInstanceRegion === '') {
                    this.region = 'eastus';
                }else {
                    this.region = this.newInstanceRegion;
                }
                if(this.plan === ''){
                    document.getElementById('Standard').checked = true;
                    this.plan = 'Standard'
                }else {
                    document.getElementById(this.plan).checked = true;
                }
                document.getElementById('regionSelect').children[0].children[1].classList.remove('disabled');
                $('#setting').bootstrapValidator('resetForm', true);
            },
            getPlanValue(item) {
                this.plan = item;
            },
            setNewInstanceRegion(region){
                this.newInstanceRegion = region;
            },
            openPopover() {
                $('.popoverTab').popover('show');

                let result = false;
                $('#newResourceGroupName').on('input',() =>{
                    const newValue = $('#newResourceGroupName').val();
                    if (newValue.length === 0) {
                        $('#checkNewResourceGroupNameError').text('Enter resource group name');
                        result = false
                    } else {
                        const reg = /^[a-zA-Z0-9_]+((\.-?|-\.?)[a-zA-Z0-9_]+)*$/;
                        if (reg.test(newValue) === false) {
                            $('#checkNewResourceGroupNameError').text('Resource group names can only include alphanumeric, underscore, parentheses, hyphen, period (except at end), and Unicode characters that match the allowed characters.');
                            result = false
                        } else {
                            $('#checkNewResourceGroupNameError').text('');
                            result = true;
                        }
                    }

                    if (newValue && result) {
                        $('#add-resource-group-popover-confirm').prop('disabled', false);
                    } else {
                        $('#add-resource-group-popover-confirm').prop('disabled', true);
                    }
                })

                $('#add-resource-group-popover-confirm').on('click', () => {
                    const newValue = $('#newResourceGroupName').val();
                    if (newValue && result) {
                        this.closePopover();
                        this.newResourceGroupName = newValue;
                        this.resourceGroupList.unshift({'name': '(New) ' + newValue});
                        this.resourceGroupName = '(New) ' + newValue;
                        this.$nextTick(function(){ $('.selectpicker').selectpicker('refresh'); });
                        this.newServiceInstance();
                    }
                });
                $('#add-resource-group-popover-cancel').on('click', () => {
                    this.closePopover();
                });
            },
            closePopover() {
                $('.popoverTab').popover('hide');
            },
            updateRegionAndTier(instanceName) {
                this.region = this.serviceInstanceList.find(item => item.name === instanceName).region;
                this.existRegion = this.region;
                this.tier = this.serviceInstanceList.find(item => item.name === instanceName).sku;
                document.getElementById(this.tier).checked = true;
            },
            getAppNameAndJavaVersion() {
                axios.get('/getAppNameAndJavaVersion', {
                    params: {
                        'url': this.url,
                        'branchName': this.branch,
                        'module': this.module
                    }
                }).then(res => {
                    this.appInstance.runtimePlatform = res.data.version;
                    this.appInstance.name = res.data.name;
                    this.init = false;
                }).catch(error => {
                    toast.error(error.response.data, {
                        position: toast.POSITION.TOP_CENTER,
                        autoClose: 5000,
                        hideProgressBar: true
                    });
                })
            },
            queryRegionList() {
                axios.get('/getRegionList')
                    .then(res => {
                        this.regionList = res.data;
                        if (this.regionList.length === 0) {
                            toast.info('Not found region', {
                                position: toast.POSITION.TOP_CENTER,
                                autoClose: 2000,
                                hideProgressBar: true
                            });
                        }
                    }).catch(error => {
                    toast.error(error.response.data, {
                        position: toast.POSITION.TOP_CENTER,
                        autoClose: 5000,
                        hideProgressBar: true
                    });
                }).finally(() => {
                    $('.selectpicker').selectpicker('refresh');
                })
            },
            querySubscriptionList() {
                axios.get('/getSubscriptionList')
                    .then(res => {
                        this.subscriptionList = res.data;
                        if (this.subscriptionList.length === 0) {
                            toast.info('Not found Subscription', {
                                position: toast.POSITION.TOP_CENTER,
                                autoClose: 2000,
                                hideProgressBar: true
                            });
                        }
                    }).catch(error => {
                    toast.error(error.response.data, {
                        position: toast.POSITION.TOP_CENTER,
                        autoClose: 5000,
                        hideProgressBar: true
                    });
                }).finally(() => {
                    $('.selectpicker').selectpicker('refresh');
                })
            },
            getResourceGroupListBySubscriptionId(subscriptionId) {
                this.resourceGroupList = [];
                axios.get('/getResourceGroupList',
                    {
                        params: {
                            'subscriptionId': subscriptionId
                        }
                    }).then(res => {
                    this.resourceGroupList = res.data;
                    if (this.resourceGroupList.length === 0) {
                        toast.info('Not found Resource group', {
                            position: toast.POSITION.TOP_CENTER,
                            autoClose: 2000,
                            hideProgressBar: true
                        });
                    }
                }).catch(error => {
                    toast.error(error.response.data, {
                        position: toast.POSITION.TOP_CENTER,
                        autoClose: 5000,
                        hideProgressBar: true
                    });
                }).finally(() => {
                    $('.selectpicker').selectpicker('refresh');
                })
            },
            getServiceInstanceByResourceGroupName(resourceGroupName) {
                this.existResourceGroup = resourceGroupName;
                const reg = /^\(New\)/;
                if(reg.test(resourceGroupName) === true){
                    this.serviceInstanceList = [];
                    return;
                }
                this.serviceInstanceList = [];
                axios.get('/getServiceInstanceList',
                    {
                        params: {
                            'subscriptionId': this.subscriptionId,
                            'resourceGroupName': resourceGroupName,
                        }
                    }).then(res => {
                    this.serviceInstanceList = res.data;
                    if (this.serviceInstanceList.length === 0) {
                        toast.info('Not found Service Instance', {
                            position: toast.POSITION.TOP_CENTER,
                            autoClose: 2000,
                            hideProgressBar: true
                        });
                    }
                }).catch(error => {
                    toast.error(error.response.data, {
                        position: toast.POSITION.TOP_CENTER,
                        autoClose: 5000,
                        hideProgressBar: true
                    });
                }).finally(() => {
                    $('.selectpicker').selectpicker('refresh');
                })
            },
            deployCode() {
                let tier;
                if (this.flag === 'create') {
                    const selectValidator = $('#setting').data('bootstrapValidator').validate();
                    if (selectValidator.isValid() === false) {
                        return;
                    }
                    if(this.newResourceGroupName === ''){
                        this.resourceGroupName = this.existResourceGroup;
                    } else {
                        this.resourceGroupName = this.newResourceGroupName;
                    }
                    this.serviceInstanceName = this.newServiceInstanceName;
                    tier = this.plan;
                } else {
                    const createValidator = $('#setting').data('bootstrapValidator').validate();
                    if (createValidator.isValid() === false) {
                        return;
                    }
                    this.region = this.serviceInstanceList.find(item => item.name === this.serviceInstanceName).region;
                    tier = this.serviceInstanceList.find(item => item.name === this.serviceInstanceName).sku;
                    if ('StandardGen2' === tier || 'Basic' === tier) {
                        toast.warning("Azure Spring Apps tier 'Basic' and 'Standard consumption & dedicated (preview)' are not supported.", {
                            position: toast.POSITION.TOP_CENTER,
                            autoClose: 6000,
                            hideProgressBar: true
                        });
                        return;
                    }
                }

                let variablesObj = {};
                if (this.variables.length > 0) {
                    for (let i = 0; i < this.variables.length; i++) {
                        if (this.variables[i].key !== '' && this.variables[i].value !== '') {
                            variablesObj[this.variables[i].key] = this.variables[i].value;
                        }
                    }

                }

                this.appInstance.memory = this.appInstance.memory.replace(/\s+/g, "");
                const appDetails = '&cpu=' + this.appInstance.cpu + '&memory=' + this.appInstance.memory + '&instanceCount=' + this.appInstance.instanceCount + '&tier=' + tier + '&region=' + this.region + '&variables=' + encodeURIComponent(JSON.stringify(variablesObj));
                const url = 'url=' + this.url + '&subscriptionId=' + this.subscriptionId + '&resourceGroupName=' + this.resourceGroupName + '&serviceName=' + this.serviceInstanceName + '&javaVersion=' + this.appInstance.runtimePlatform + '&appName=' + this.appInstance.name + '&branchName=' + this.branch + '&module=' + this.module + '&flag=' + this.flag + "&code=" + this.githubCode;

                const checkGithubAction = document.getElementById('flexSwitchCheckDefault');
                if(checkGithubAction.checked === true && this.githubCode === ''){
                    toast.info("Please connect GitHub !.", {
                        position: toast.POSITION.TOP_CENTER,
                        autoClose: 5000,
                        hideProgressBar: true
                    });
                    return;
                }
                location.assign('/progress.html?' + url + appDetails + '&githubAction=' + checkGithubAction.checked);
            },
            validatorForm() {
                $("#setting").bootstrapValidator({
                    excluded: [':disabled', ':hidden'],
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        subscription: {
                            container: '#subscription_error',
                            validators: {
                                notEmpty: {
                                    message: 'Please select subscription'
                                }
                            }
                        },
                        resourceGroup: {
                            container: '#resourceGroup_error',
                            validators: {
                                notEmpty: {
                                    message: 'Please select or create Resource group'
                                }
                            }
                        },
                        serviceInstance: {
                            container: '#serviceInstance_error',
                            validators: {
                                notEmpty: {
                                    message: 'Please select Service Instance'
                                }
                            }
                        },
                        newServiceInstanceName: {
                            container: '#newServiceInstanceName_error',
                            validators: {
                                notEmpty: {
                                    message: 'Please type service instance name'
                                },
                                regexp: {
                                    regexp: /^[a-z][a-z0-9-]{3,31}$/,
                                    message: 'The service instance name is invalid. It can contain only lowercase letters, numbers and hyphens. The first character must be a letter. The last character must be a letter or number. The value must be between 4 and 32 characters long.'
                                }
                            }
                        },
                        appName: {
                            container: '#appName_error',
                            validators: {
                                notEmpty: {
                                    message: 'Please type app name'
                                },
                                regexp: {
                                    regexp: /^[a-z][a-z0-9-]{3,31}$/,
                                    message: 'The App name is invalid. It can contain only lowercase letters, numbers and hyphens. The first character must be a letter. The last character must be a letter or number. The value must be between 4 and 32 characters long.'
                                }
                            }
                        },
                    }
                });
            },
            stringify: JSON.stringify,
        },
        mounted() {
            this.querySubscriptionList();
            this.getAppNameAndJavaVersion();
            this.queryRegionList();
            this.validatorForm();
            this.appInstance.name = 'loading...';
            this.appInstance.cpu = 1;
            this.appInstance.memory = '2 Gi';
            this.appInstance.instanceCount = 1;
            this.appInstance.deploymentType = 'GitHub repository';
            $('.selectpicker').selectpicker();
            $('[data-toggle="popover"]').popover({
                placement: 'bottom',
                html: true,
                sanitize: false,
                trigger: 'manual',
                content: '<div id="popover-form" style="font-size: 14px;"><p>A resource group is a container that holds related resource for an Azure solution.</p><div class="form-group"><label>Name<span class="required"> * </span></label><input id="newResourceGroupName" name="newResourceGroupName" type="text" placeholder="Enter resource group name" v-model="newResourceGroupName" class="form-control"/><span id="checkNewResourceGroupNameError" style="color: red"></span></div><button style="width: 20%;margin-left: 55%;" type="button" class="btn btn-secondary btn-sm ok" id="add-resource-group-popover-confirm" disabled>OK</button><button style="width: 20%;" type="button" class="btn btn-light btn-sm cancel" id="add-resource-group-popover-cancel">Cancel</button></div>'
            });
            const startIndex = this.url.split('/', 3).join('/').length;
            const endIndex = this.url.split('/', 4).join('/').length;
            this.username = this.url.substring(startIndex + 1, endIndex);
        },
        updated: function () {
            $('.selectpicker').selectpicker('refresh');
        },
    })
    app.mount('#app')
</script>
</html>